<!-- Hoja de estilos -->
p {
  color:indigo ;
  
}

h1{
  color: slateblue;
  
}

h2{
	color: cornflowerblue;
}

h3{
	color: royalblue;
	}

body {
	background-color: powderblue;
	
  
	 }
